.App {
  text-align: center;
  font: "PT Sans";
}

.About{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 150px;
  margin-right: 150px;
}

.boxspace{
  margin-top: 250px;
  margin-bottom: 40px;
}
.button {
  /* background: linear-gradient(45deg, #3c76b0 20%, #050505 90%); */
  background: linear-gradient(45deg, #5a63e0 20%, #ff8e53 90%);
  /* background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%); */

  border-radius: 3px;
  border: 0;
  color: white;
  height: 50px;
  padding: 0 30px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
}
.menu {
  /* background: linear-gradient(45deg, #3c76b0 20%, #050505 90%); */
  /* background: linear-gradient(45deg, #5a63e0 20%, #ff8e53 90%); */
  /* background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%); */

  border-radius: 3px;
  border: 0;
  color: white;
  height: 48px;
  /* box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3); */
}

.tool {
  /* background: linear-gradient(45deg, #3c76b0 20%, #050505 90%); */
  background: linear-gradient(45deg, #5a63e0 20%, #ff8e53 90%);
  /* background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%); */

  border-radius: 3px;
  border: 0;
  color: white;
  height: 48px;
  padding: 0 30px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
}
.center {
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.textfield{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
